.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 10px 15px;
    border-radius: 40px;
    background: linear-gradient(500deg, #d38714, #3c09b3); 
    font-size: 22px;
    cursor: pointer;
    transition: 0.1s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-menu li:hover{
    color: rgb(152, 134, 182);
}

.nav-menu li::after{
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(83, 83, 114);
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: -4px;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-menu li:hover::after{
    opacity: 1;
}

.anchor-link{
    text-decoration: none;
    color: white;
}