.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.intro img{
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 50%;
}
.intro h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 500;
}
.intro h1 span{
    background: linear-gradient(500deg, #d38714, #3c09b3);
    background-clip: text;
    color: transparent;
}
.intro p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.intro-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.intro-connect{
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid white;
    background: linear-gradient(500deg, #d38714, #3c09b3);
    cursor: pointer
}
.intro-resume{
    padding: 15px 50px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.intro-connect:hover{
    border-color: #3c09b3;
}
.intro-resume:hover{
    border-color: #3c09b3;
}