.funfacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.funfacts-title{
    position: relative;
}
.funfacts-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.fact-format{
    display: block;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.fact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.fact-format h3{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    top: 0;
    padding-bottom: 20px;
}
.fact-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(500deg, #d38714, #3c09b3);
    background-clip: text;
    color: transparent;
}
.fact-format p{
    color: white;
    font-size: 24px;
    line-height: 40px;
}
.fact-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.fact-format:hover{
    border: 2px solid rgb(219, 23, 226);
    background-image: linear-gradient(500deg, #e0b36e, #1f0e44);
    transform: scale(1.05);
    transition: 0.4s;
}